@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    Layout = null;
    ShareDialogModels shareDialogModels = new ShareDialogModels();
    string CurrentUrl = ViewData["Url"].ToString();
    string BaseUrl = ViewData["BaseUrl"].ToString();
}

<section class="nav-dialog desktop" id="navdialog">
    <div class="button-dialog-right" style="top: 22vh; left: 16%;">
        <div class="row">
            <div class="column">
                <p class="header-text-orange">@Localizer["1header"]</p>
                <p class="text-black">@Localizer["1text"]</p>
            </div>
            <div class="column">
                <a data-toggle="modal" data-target="@("#dialog"+1)">
                    <img src="~/images/shared/circle.svg" />
                </a>
            </div>
        </div>
    </div>
    <div class="button-dialog-left" style="top: 86vh; left: 30%;">
        <div class="row">
            <div class="column">
                <a data-toggle="modal" data-target="@("#dialog"+20)">
                    <img src="~/images/shared/circle.svg" />
                </a>
            </div>
            <div class="column">
                <p class="header-text-orange">@Localizer["20header"]</p>
                <p class="text-black">@Localizer["20text"]</p>
            </div>
        </div>
    </div>
    <div class="button-dialog-left" style="@Localizer["220style"]">
        <div class="row">
            <div class="column">
                <a data-toggle="modal" data-target="@("#dialog"+220)">
                    <img src="~/images/shared/circle.svg" />
                </a>
            </div>
            <div class="column">
                <p class="header-text-orange">@Localizer["22header"]</p>
                <p class="text-white">@Localizer["220text"]</p>
            </div>
        </div>
    </div>
    <div class="button-dialog-left" style="top: 32vh; right: 18%;">
        <div class="row">
            <div class="column">
                <a data-toggle="modal" data-target="@("#dialog"+19)">
                    <img src="~/images/shared/circle.svg" />
                </a>
            </div>
            <div class="column">
                <p class="header-text-orange">@Localizer["19header"]</p>
                <p class="text-black">@Localizer["19text"]</p>
            </div>
        </div>
    </div>
    <div class="button-dialog-left" style="@Localizer["221style"]">
        <div class="row">
            <div class="column">
                <a data-toggle="modal" data-target="@("#dialog"+221)">
                    <img src="~/images/shared/circle.svg" />
                </a>
            </div>
            <div class="column">
                <p class="header-text-orange">@Localizer["22header"]</p>
                <p class="text-white">@Localizer["221text"]</p>
            </div>
        </div>
    </div>
    <div class="button-dialog-left" style="top: 11vh; right: 16%;">
        <div class="row">
            <div class="column">
                <a data-toggle="modal" data-target="@("#dialog"+16)">
                    <img src="~/images/shared/circle.svg" />
                </a>
            </div>
            <div class="column">
                <p class="header-text-orange">@Localizer["16header"]</p>
                <p class="text-black">@Localizer["16text"]</p>
            </div>
        </div>
    </div>
</section>

<section class="image-calendar desktop" id="cover" onload="javascript: coverLoaded();" style="background-image: url('@BaseUrl/images/index.jpg');background-repeat: no-repeat;background-size: cover;background-position: center center;height: 100vh;width: 100%">
</section>
<section class="image-calendar mobile">
    <img src="@BaseUrl/images/index.mobile.jpg" style="width: 100%" />
</section>

<section class="pagination desktop">
    <div class="div-pagination" style="bottom: 6vh;right: 18%;">
        <a class="pagination-left" href="@Url.Action("Index", "August")">
            <img src="~/images/shared/pagination-left-orange.svg" />
        </a>
        <a class="pagination-right" href="@Url.Action("Index", "October")">
            <img src="~/images/shared/pagination-right-orange.svg" />
        </a>
    </div>
</section>

<section class="pagination container mobile">
    <div class="div-pagination" style="bottom: 2vh;justify-content: space-between;width: 87vw;margin-left: -3vw;">
        <a class="pagination-left-mobile" href="@Url.Action("Index", "August")">
            <img src="~/images/shared/backwhite.mobile.svg" />
        </a>
        <a class="pagination-right-mobile" href="@Url.Action("Index", "October")">
            <img src="~/images/shared/nextwhite.mobile.svg" />
        </a>
    </div>
</section>

<section class="nav-dialog mobile">
    <div>
        <div class="row">
            <div class="column-image">
                <a data-toggle="modal" data-target="@("#dialogmobile"+1)">
                    <img src="@BaseUrl/images/image 1.mobile.jpg" />
                </a>
            </div>
            <div class="column-text">
                <div class="verticlecenter">
                    <p class="header-text-orange">@Localizer["1header"]</p>
                    <p class="text-black">@Localizer["1text"]</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="column-image">
                <a data-toggle="modal" data-target="@("#dialogmobile"+16)">
                    <img src="@BaseUrl/images/image 16.mobile.jpg" />
                </a>
            </div>
            <div class="column-text">
                <div class="verticlecenter">
                    <p class="header-text-orange">@Localizer["16header"]</p>
                    <p class="text-black">@Localizer["16text"]</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="column-image">
                <a data-toggle="modal" data-target="@("#dialogmobile"+19)">
                    <img src="@BaseUrl/images/image 19.mobile.jpg" />
                </a>
            </div>
            <div class="column-text">
                <div class="verticlecenter">
                    <p class="header-text-orange">@Localizer["19header"]</p>
                    <p class="text-black">@Localizer["19text"]</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="column-image">
                <a data-toggle="modal" data-target="@("#dialogmobile"+20)">
                    <img src="@BaseUrl/images/image 20.mobile.jpg" />
                </a>
            </div>
            <div class="column-text">
                <div class="verticlecenter">
                    <p class="header-text-orange">@Localizer["20header"]</p>
                    <p class="text-black">@Localizer["20textmobile"]</p>
                    <p class="text-black">@Localizer["20textmobile1"]</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="column-image">
                <a data-toggle="modal" data-target="@("#dialogmobile"+221)">
                    <img src="@BaseUrl/images/image 221.mobile.jpg" />
                </a>
            </div>
            <div class="column-text">
                <div class="verticlecenter">
                    <p class="header-text-orange">@Localizer["22header"]</p>
                    <p class="text-black">@Localizer["221text"]</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="column-image">
                <a data-toggle="modal" data-target="@("#dialogmobile"+220)">
                    <img src="@BaseUrl/images/image 220.mobile.jpg" />
                </a>
            </div>
            <div class="column-text">
                <div class="verticlecenter">
                    <p class="header-text-orange">@Localizer["22header"]</p>
                    <p class="text-black">@Localizer["220text"]</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="desktop">
    <div class="modal fade hide" id="@("dialog" + 1)" tabindexdialog="-1" aria-hidden="true" data-backdrop="true">
        <a class="btn-close" data-dismiss="modal" aria-label="Close">
            <img src="~/images/shared/button-close.svg" style="width: 4vw;max-width: 30px;" />
        </a>
        <div class="modal-dialog modal-dialog-centered custom-size-dialog">
            <div class="modal-content">
                <div class="infograpic">
                    <img src="@BaseUrl/images/image 1.jpg" class="infographic-image" loading="lazy" />
                </div>
                <div class="share-panel-dialog">
                    @await Html.PartialAsync("~/Views/Shared/ShareSocialMedia.Dialog.cshtml", new ShareDialogModels() { Url = $"{BaseUrl}?date={1}" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade hide" id="@("dialog" + 16)" tabindexdialog="-1" aria-hidden="true" data-backdrop="true">
        <a class="btn-close" data-dismiss="modal" aria-label="Close">
            <img src="~/images/shared/button-close.svg" style="width: 4vw;max-width: 30px;" />
        </a>
        <div class="modal-dialog modal-dialog-centered custom-size-dialog">
            <div class="modal-content">
                <div class="infograpic">
                    <img src="@BaseUrl/images/image 16.jpg" class="infographic-image" loading="lazy" />
                </div>
                <div class="share-panel-dialog">
                    @await Html.PartialAsync("~/Views/Shared/ShareSocialMedia.Dialog.cshtml", new ShareDialogModels() { Url = $"{BaseUrl}?date={16}" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade hide" id="@("dialog" + 19)" tabindexdialog="-1" aria-hidden="true" data-backdrop="true">
        <a class="btn-close" data-dismiss="modal" aria-label="Close">
            <img src="~/images/shared/button-close.svg" style="width: 4vw;max-width: 30px;" />
        </a>
        <div class="modal-dialog modal-dialog-centered custom-size-dialog">
            <div class="modal-content">
                <div class="infograpic">
                    <img src="@BaseUrl/images/image 19.jpg" class="infographic-image" loading="lazy" />
                </div>
                <div class="share-panel-dialog">
                    @await Html.PartialAsync("~/Views/Shared/ShareSocialMedia.Dialog.cshtml", new ShareDialogModels() { Url = $"{BaseUrl}?date={19}" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade hide" id="@("dialog" + 20)" tabindexdialog="-1" aria-hidden="true" data-backdrop="true">
        <a class="btn-close" data-dismiss="modal" aria-label="Close">
            <img src="~/images/shared/button-close.svg" style="width: 4vw;max-width: 30px;" />
        </a>
        <div class="modal-dialog modal-dialog-centered custom-size-dialog">
            <div class="modal-content">
                <div class="infograpic">
                    <img src="@BaseUrl/images/image 20.jpg" class="infographic-image" loading="lazy" />
                </div>
                <div class="share-panel-dialog">
                    @await Html.PartialAsync("~/Views/Shared/ShareSocialMedia.Dialog.cshtml", new ShareDialogModels() { Url = $"{BaseUrl}?date={20}" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade hide" id="@("dialog" + 220)" tabindexdialog="-1" aria-hidden="true" data-backdrop="true">
        <a class="btn-close" data-dismiss="modal" aria-label="Close">
            <img src="~/images/shared/button-close.svg" style="width: 4vw;max-width: 30px;" />
        </a>
        <div class="modal-dialog modal-dialog-centered custom-size-dialog">
            <div class="modal-content">
                <div class="infograpic">
                    <img src="@BaseUrl/images/image 220.jpg" class="infographic-image" loading="lazy" />
                </div>
                <div class="share-panel-dialog">
                    @await Html.PartialAsync("~/Views/Shared/ShareSocialMedia.Dialog.cshtml", new ShareDialogModels() { Url = $"{BaseUrl}?date={220}" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade hide" id="@("dialog" + 221)" tabindexdialog="-1" aria-hidden="true" data-backdrop="true">
        <a class="btn-close" data-dismiss="modal" aria-label="Close">
            <img src="~/images/shared/button-close.svg" style="width: 4vw;max-width: 30px;" />
        </a>
        <div class="modal-dialog modal-dialog-centered custom-size-dialog">
            <div class="modal-content">
                <div class="infograpic">
                    <img src="@BaseUrl/images/image 221.jpg" class="infographic-image" loading="lazy" />
                </div>
                <div class="share-panel-dialog">
                    @await Html.PartialAsync("~/Views/Shared/ShareSocialMedia.Dialog.cshtml", new ShareDialogModels() { Url = $"{BaseUrl}?date={221}" })
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mobile">
    <div class="modal fade hide" id="@("dialogmobile" + 1)" tabindexdialog="-1" aria-hidden="true" data-backdrop="true">
        <a class="btn-close" data-dismiss="modal" aria-label="Close">
            <img src="~/images/shared/button-close.svg" style="width: 4vw;max-width: 30px;" />
        </a>
        <div class="modal-dialog custom-size-dialog">
            <div class="modal-content modal-black">
                <div class="infograpic">
                    <img src="@BaseUrl/images/image 1.jpg" class="infographic-image" loading="lazy" />
                    <div class="share-panel-dialog">
                        @await Html.PartialAsync("~/Views/Shared/ShareSocialMedia.Dialog.mobile.cshtml", new ShareDialogModels() { Url = $"{BaseUrl}?date={1}" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade hide" id="@("dialogmobile" + 16)" tabindexdialog="-1" aria-hidden="true" data-backdrop="true">
        <a class="btn-close" data-dismiss="modal" aria-label="Close">
            <img src="~/images/shared/button-close.svg" style="width: 4vw;max-width: 30px;" />
        </a>
        <div class="modal-dialog custom-size-dialog">
            <div class="modal-content modal-black">
                <div class="infograpic">
                    <img src="@BaseUrl/images/image 16.jpg" class="infographic-image" loading="lazy" />
                    <div class="share-panel-dialog">
                        @await Html.PartialAsync("~/Views/Shared/ShareSocialMedia.Dialog.mobile.cshtml", new ShareDialogModels() { Url = $"{BaseUrl}?date={16}" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade hide" id="@("dialogmobile" + 19)" tabindexdialog="-1" aria-hidden="true" data-backdrop="true">
        <a class="btn-close" data-dismiss="modal" aria-label="Close">
            <img src="~/images/shared/button-close.svg" style="width: 4vw;max-width: 30px;" />
        </a>
        <div class="modal-dialog custom-size-dialog">
            <div class="modal-content modal-black">
                <div class="infograpic">
                    <img src="@BaseUrl/images/image 19.jpg" class="infographic-image" loading="lazy" />
                    <div class="share-panel-dialog">
                        @await Html.PartialAsync("~/Views/Shared/ShareSocialMedia.Dialog.mobile.cshtml", new ShareDialogModels() { Url = $"{BaseUrl}?date={19}" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade hide" id="@("dialogmobile" + 20)" tabindexdialog="-1" aria-hidden="true" data-backdrop="true">
        <a class="btn-close" data-dismiss="modal" aria-label="Close">
            <img src="~/images/shared/button-close.svg" style="width: 4vw;max-width: 30px;" />
        </a>
        <div class="modal-dialog custom-size-dialog">
            <div class="modal-content modal-black">
                <div class="infograpic">
                    <img src="@BaseUrl/images/image 20.jpg" class="infographic-image" loading="lazy" />
                    <div class="share-panel-dialog">
                        @await Html.PartialAsync("~/Views/Shared/ShareSocialMedia.Dialog.mobile.cshtml", new ShareDialogModels() { Url = $"{BaseUrl}?date={20}" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade hide" id="@("dialogmobile" + 221)" tabindexdialog="-1" aria-hidden="true" data-backdrop="true">
        <a class="btn-close" data-dismiss="modal" aria-label="Close">
            <img src="~/images/shared/button-close.svg" style="width: 4vw;max-width: 30px;" />
        </a>
        <div class="modal-dialog custom-size-dialog">
            <div class="modal-content modal-black">
                <div class="infograpic">
                    <img src="@BaseUrl/images/image 221.jpg" class="infographic-image" loading="lazy" />
                    <div class="share-panel-dialog">
                        @await Html.PartialAsync("~/Views/Shared/ShareSocialMedia.Dialog.mobile.cshtml", new ShareDialogModels() { Url = $"{BaseUrl}?date={221}" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade hide" id="@("dialogmobile" + 220)" tabindexdialog="-1" aria-hidden="true" data-backdrop="true">
        <a class="btn-close" data-dismiss="modal" aria-label="Close">
            <img src="~/images/shared/button-close.svg" style="width: 4vw;max-width: 30px;" />
        </a>
        <div class="modal-dialog custom-size-dialog">
            <div class="modal-content modal-black">
                <div class="infograpic">
                    <img src="@BaseUrl/images/image 220.jpg" class="infographic-image" loading="lazy" />
                    <div class="share-panel-dialog">
                        @await Html.PartialAsync("~/Views/Shared/ShareSocialMedia.Dialog.mobile.cshtml", new ShareDialogModels() { Url = $"{BaseUrl}?date={220}" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>